<!DOCTYPE html>
<html>
<head>
    <title>Add Values</title>
</head>
<body>
    <h2>Add Values to Konto</h2>
    <form method="post" action="/add_values">
        <label for="name">What is this account for?:</label>
        <input type="input" name="name" id="name" required><br>
        <label for="nok">NOK:</label>
        <input type="number" step="0.01" name="nok" id="nok" required><br>
        <label for="interest">Interest:</label>
        <input type="number" step="0.001" name="interest" id="interest" required><br>
        <input type="submit" value="Add">
    </form>
    <p>{{ msg }}</p>
</body>
</html>