<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <header>
        <img id="toplogo" src="static/img/coal_logo_fiery.png" alt="coal logo">
        <h1>Coal games</h1>
    </header>
    <h2>Welcome, {{ username }}!</h2>
    
    <!-- <a href="/games/survival_platform.zip" download="">download</a> -->
    <a href="/browse"><button>browse games</button></a>
    <a href="/logout"><button>Logout</button></a>
    <link rel="stylesheet" href="static/style/style.css">

</body>
</html>