<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <header>
        <img id="toplogo" src="static/img/coal_logo_fiery.png" alt="coal logo">
        <h1>Coal games</h1>
    </header>
    <a href="/"><button>back</button></a>

    <form method="post" action="/signup">
        <h2>Sign Up</h2>
        <a href="/login"><button>Log in</button></a>
        <p>{{ msg }}</p>
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" required><br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" required><br>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br>
        <label for="phone_number">Phone Number:</label>
        <input type="text" name="phone_number" id="phone_number" required><br>
        <label for="address">Address:</label>
        <input type="text" name="address" id="address" required><br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br>
        <input type="submit" value="Sign Up">
    </form>
    <link rel="stylesheet" href="static/style/style.css">

</body>
</html>
